.video {
  margin: 1rem;
  padding: 1rem;
  background-color: #2a0349;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.video h2 {
  font-size: 2rem;
  color: #f7e702;
}

.video h3 {
  color: #eccf77;
  margin: 1rem;
  font-size: 1rem;
}

.video a {
  text-decoration: none;
  color: white;
}
